.landing-table{
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.landing-td-l{
  /* position: absolute; */
  width: 7.5vw;
  /* background-color: blue; */
}

.landing-td-m {
  /* margin-left: 10px; */
  /* width: 100%; */
}

.landing-td-m::before{
  content: "";
  position: absolute;
  width: 1px;
  background: rgba(0, 0, 0, 1);
  top: 2vh;
  bottom: 2vh;
}

.landing-td-r {
  width: 25vw;
  /* background-color: black; */
  /* right:20px; */
}

.landing-td-r::before {
  content: "";
  position: absolute;
  width: 1px;
  /* height: auto; */
  background: rgba(0, 0, 0, 1);
  top: 2vh;
  bottom: 2vh;
}

.landing-td-m-container {
  /* font-family: "Baskerville Old Face", serif; */
  /* left: 100px; */
  /* width: 100%; */
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top:28px;
  position: relative;
  /* background-color: grey; */
}
.sub-title{
  /* text-align: center; */
  width: 43vw;
  font-size:1.08vw;
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6vw;
  letter-spacing:0.025vw;
  height: 4vw;
  z-index: 1;
  /* background-color: grey; */
}
.landing-indicator-container{
  width: 43vw;
  height: 5.5vw;
}
.landing-indicator{
  width: 2.6vw;
  height: 3.46vw;
  left: -0.8vw;
  position: relative;
}

.space-s{
  height: 0.5vw;
}
.space-m{
  height: 1.5vw;
}
.space-l{
  height: 6vw;
}
.space-xl{
  height: 27vw;
}
.rect{
  position: absolute;
  background-color: black;
}
#landing-graphics {
  width: 50vw;
  height: auto;
  position: absolute;
  top: -2.5vw;
  right: -0.5vw;
  z-index: 0;
}

/*apple

*/

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: black; */
  height: 0vh;
  width: 100vw;
  overflow-y: hidden;
  transition: 0.4s;
  background-color: rgba(255,255,255,0.9);
}
.links-container{
  position: relative;
  width: 100%;

  top: 100px;
  text-align: center;
}
.links {
  color: #A8A8A8;
  width: 100%;

}

.menu-desktop{
  padding-top: 2vw;
  padding-left: 2vw;
  position: fixed;
}
.menuCell{
  height: 1.3vw;
  width: 20vw;
}
.menuCell:hover{
  background-color: rgba(200, 200, 200, 1);
  transition: 0.2s;
}
.menuHead {
  padding-top: 4vw;
  padding-bottom: 1vw;
}

.menu-abouts{

  text-align: left;
  font-size: 0.85vw;
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  padding-top: 3vw;
  margin: 0;
}

.menu-about-link{
  color: rgba(0,0,0,0.6);
  padding-top: 0.4vw;
  transition: 0.3s;
}
.menu-about-link:hover{
  color: rgba(0,0,0,0.3);
}

.landing-logo {
  /* position: absolute; */

}
.logo{
  width: 12.5vw;
}

.line{
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
}

.line-grey{
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(214,214,214,1);
}

.section-title{
  text-align: left;
  font-size: 1.1vw;
  font-family: Baskerville;
  font-style: normal;
  font-weight: bold;
  padding-top: 0.6vw;
  margin: 0;
  /* background-color: rgba(0, 251, 251, 1); */
}

#desktopPress{
  width: 100%;
  position:relative;
  padding-top: 0.5vw;
  /* background-color: black */
}

.pressTable{
  position: relative;
  width: 100%;
}
.pressRow{
  position: relative;
  width: 100%;

}
.pressContainer{
  padding: 0.8vw;
  padding-bottom: 2.5vw;
  width: 30%;
  position: relative;
  transition: 0.3s;
}
.pressContainer:hover{
  opacity: 0.8
}
.pressCoverImg{
  width: 100%;
  position: relative;
  /* cursor: none; */
}

.pressTitle{
  font-size: 1vw;
  font-family: Baskerville;
  font-style: normal;
  font-weight: bold;
  letter-spacing:0;
  padding: 0;
  padding-top: 0.8vw;
  margin: 0;
  line-height: 1.2vw;
}

.pressSubtitle{
  font-size: 1vw;
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  letter-spacing:0;
  padding: 0;
  margin: 0;
  line-height: 1.8vw;
}
.pressDate{
  font-size: 1vw;
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  letter-spacing:0;
  padding: 0;
  margin: 0;
  line-height: 1vw;
}



.drawLeft{
  /* padding-top: 2vh; */
  padding-bottom: 2vh;
  width: 46vw;
  height: 17vw;
  background-color: rgba(251,251,251,1);
  transition: 0.3s;
  position: relative;
}
.drawLeft:hover .portfolio-svg{
  top: 48%;
}
.drawLeft:hover .portfolio-img{
  top: 52%;
}
.drawLeft:hover{
  cursor:pointer;
}

.drawRight{
  /* width: 33.2vw; */
  position: relative;
  width: 18vw;
  /* background-color: blue */
}
.drawRight::before{
  content: "";
  position: absolute;
  width: 1px;
  background: rgba(0, 0, 0, 1);
  top: 1vw;
  bottom: 1vw;
}
.drawRightContent{
  padding-left: 1vw;
}

.portfolio-svg{
  width: 15vw;
  position: absolute;
  top: 50%;
  left:26%;
  transform: translate(-50%, -50%);

  transition: 0.3s ease;
}

.portfolio-img{
  width: 18vw;
  position: absolute;
  top: 50%;
  left:64%;
  transform: translate(-50%, -50%);

  transition: 0.3s ease;
}

.draw-links{
  position: absolute;
  font-size: 1vw;
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  letter-spacing:0;
  padding: 0;
  margin: 0;


  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.draw-links-a{
  line-height: 2vw;
  text-align: center;
  transition: 0.3s ease;
}
.draw-links-a:hover{
  transform: scale(1.2);
  line-height: 2.3vw;
  opacity: 0.7;
}

.bio{
  width: 100%;
  height: 28vw;
  position: relative;
}
.bio-text{
  position: absolute;
  width: 20vw;
  bottom: 3vw;
  left: 0.3vw;
}

#bio-graphics{
  width: 29vw;
  position: absolute;
  right: 3.4vw;
  bottom: 0.5vw;
}

#cursor{
  position: fixed;
  width: 2.5vw;
  opacity: 0;
  /* transform: translate(-50%, -50%); */
  transform: rotate(-75deg) scale(0.8);
  left: -10%;
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: opacity, transform;

}
