{% load static %}

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/animation.css' %}" type="text/css">
		<link rel="icon" type="image/x-icon" href="{{ icon.icon.url }}">
    	<link rel="shorcut icon" type="image/x-icon" href="{{ icon.icon.url }}">
		<title>↑↑%</title>
	</head>
	<body>
		{% include 'header.html' %}
	<div class="content-body">

		<!-- <p>under maintenance, will be back in May.  - J</p> -->
		<div class="page-layout">
			<div class="left-panel">
				<div id='landing-graphics-container'><div id="landing-graphics"></div></div>
				<div class="left-panel-container">
				
				<!-- <div class="landing-title-box"><h4 id="landing-title"></h4></div> -->
				<div class="landing-text">
					<h4>Researcher in Explainable / Creative AI and Music Technology.</h4>
					<h4 style="padding-top:10px">> London, UK - <span id="time">00:19:10 GMT+1</span></h4>
				</div>
				<div class="left-panel-links">
					<a href="{{ portfolio_link.google_scholar }}" class='links-item' target='_blank'>[Google Scholar]</a>
					<a href="{{ portfolio_link.github }}" class='links-item' target='_blank'>[GitHub]</a>
					<!-- <a href="{{ portfolio_link.orcid }}" class='links-item' target='_blank'>[ORCID]</a> -->
					<a href="{{ portfolio_link.soundcloud }}" class='links-item' target='_blank'>[SoundCloud]</a>
					<a href="{{ portfolio_link.spotify }}" class='links-item' target='_blank'>[Spotify]</a>
					<!-- <a href="{{ portfolio_link.netease }}" class='links-item' target='_blank'>[网易云]</a> -->
				</div>
				</div>
			</div>

			<div class="right-panel">
				<div class="block-transition boldColumn" id='selectWorkBlock' >
					<a href="{{ portfolio_link.google_scholar }}">
					<div class="block-title-box abs" style="height: 20%; " id="selectWorkTitle">
						<h3 class="actived-underline-close title-text">Recent Articles</h3>
						<!-- <div style="width:25px;height:30px;float:left;"></div> 
						<div class="arrow-box" id="selectWorkArrow" style="float:left">
							<div class="arrow" style="float:left"></div>
						</div> -->
						<div style="width:25px;height:30px;float:left;"></div> 
						<div class="arrow-box" id="selectWorkArrow" style="float:left"><div class="arrow-s"></div></div>
					</div>
					</a>
					<div class="text-down" id="selectWorkText">
						<!-- <div class="block-transition-text block-cursor" id="research-area" >
							<h4>My work explores AI systems through their convergence with the practices of media and arts. </h4>
						</div> -->
						<div class="article-container">
							{% for article in article_list %}
							<!-- <div class='work-block'> -->
								<div class='work-block-content'>
									<p class="article-item">{{ article.bibliography | safe }}</p>
								</div>
							<!-- </div> -->
							{% endfor %}
						</div>
						<!-- <a href="{% url 'works' %}" style="align-self:flex-end">
						<div class="block-transition-text" id="fullPortfolio" >
							<h4 style="float: left" class="underline-mobile">Full Portfolio (2019-2023)</h4>
							<div style="width:25px;height:1px;float:left;"></div> 
							<div class="arrow-box-s" id="portfolioArrow"><div class="arrow-s"></div></div>
						</div>
						</a> -->
					</div>

				</div>

				<div class="work-container">
			 		{% for work in work_list %}
			 		<div class='work-block'>
			 			<a href="{% url 'show-work' work.work_id %}">
			 				<img class="work-feature-img" src="{{ work.front_image.url }}" alt="">
				 		</a>
						<div class='work-block-content'>
							<a href="{% url 'show-work' work.work_id %}">
								<h2 class="work-block-title">
					 				{{ work.title }}
					 				<div class="arrow-box work-block-arrow" style="float:right">
					 					<div class="arrow" style="float:right"></div>
					 				</div>
					 			</h2>
				 			</a>
				 			<p id='workSummary'style="max-width: 600px">{{ work.summary }}</p>
				 			<p>
								<span class="work-block-label"><span class="label-bold">Category </span>
									<a class="underline" href="/works/?filter={% if work.work_type == 1 %}research{% elif work.work_type == 2 %}artwork{% elif work.work_type == 3 %}music{% else %}unclassified{% endif %} ">
									{% if work.work_type == 1 %}Research{% elif work.work_type == 2 %}Artwork{% elif work.work_type == 3 %}Music{% else %}Unclassified{% endif %}</a>
								</span>
								<span class="work-block-label"><span class="label-bold">Subject </span>{{ work.subject }}</span><br>
								<span class="work-block-label"><span class="label-bold">Date </span>{{ work.date|date:"M, Y" }} </span>
							</p>
						</div>
					</div>
					{% endfor %}
			 	</div>
<!-- 
			 	<div class="block-transition" id='fullPortfolioTransition'>
			 		
					
				</div> -->

				<div class="right-panel-section" id="about-section">
					<!-- <div id='bio-graphics'></div> -->
					 
					<div class="block-transition">
						<a href="{% url 'works' %}">
							<div class="" style="padding-top: 10px; height: 40px;" id="fullPortfolio2">
								<h3 class="actived-underline-close title-text">Full Portfolio (2019-2026)</h3>
								<div style="width:25px;height:30px;float:left;"></div> 
								<div class="arrow-box" id="portfolioArrow2" >
									<div class="arrow-s" style="float:left"></div>
								</div>
							</div>
						</a>
						<div class='block-title-box block-cursor title-text' style="padding-top: 110px;""><h3>About</h3></div>
						<div class="block-transition-text" style="padding-top: 20px; max-width:600px;">
							<p>{{ bio_text.date|date:"M, Y" }}</p>
							<div class="bio-text-s">{{ bio_text.texts | safe }}</div>
						</div>
						<div style="height: 60px;"></div>
					</div>
				</div>

				<div class="right-panel-section" id="contact-section">
					<div class="block-transition">
						<div class='block-title-box block-cursor title-text' style="height: 100px;"><h3>Contact</h3></div>
						<div id="contact-items">
							<p class="title-text">
							{% for contact in contact_link %}
								<a href="{% if contact.link_type == 1 %}mailto:{{ contact.email }}{% else %}{{ contact.link }}{% endif %}" target='_blank' class="underline">{{contact.title}}</a><br>
							{% endfor %}
							</p>
						</div>
					</div>
				</div>
				{% include 'footer.html' %}
			</div>
		</div>

	</div>
	
	</body>

	<script type="module" charset="utf-8" src="{% static 'js/landing-page-graphics.js' %}"></script>
	<script type="module" charset="utf-8" src="{% static 'js/bio-graphics.js' %}"></script>
	<script type="module" charset="utf-8" src="{% static 'js/landing-animations.js' %}"></script>
	<script type="module" charset="utf-8" src="{% static 'js/utilities.js' %}"></script>
	<!-- <script type="module" charset="utf-8" src="{% static 'js/scroll.js' %}"></script> -->
</html>


